<div *ngIf="organization" class="text-center">
    <div class="card">
        <div class="card-body">
            <h2>Organization Details</h2>
            <div><span>id: </span>{{organization.id}}</div>
            <div>
                <label for="organization-name">Organization name: </label>
                <input id="organization-name" [(ngModel)]="updatedName" placeholder="{{ organization.name }}">
            </div>
            <button type="button" (click)="goBack()" class="btn btn-primary">go back</button>
            <button type="button" (click)="saveOrganization()" class="btn btn-primary">save</button>
        </div>
        <h3 class="text-center">Rooms List</h3>
        <div class="card-body">
            <table class="table">
                <thead>
                    <th> Name </th>
                    <th> Identifier </th>
                </thead>
                <tbody>
                    <tr *ngFor="let el of organization.rooms">
                        <td> {{el.name}} </td>
                        <td> {{el.identifier}} </td>
                        <td>
                            <button class="btn btn-primary" (click)="redirectToRoomDetailsPage(organization.id ,el.id)">
                                Details
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteRoom(el.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="organization" class="container">
    <div class="card">
        <h3 class="text-center">Available Rooms List</h3>
        <div class="card-body">
            <table class="table">
                <thead>
                    <th> Name </th>
                    <th> Identifier </th>
                </thead>
                <tbody>
                    <tr *ngFor="let el of rooms">
                        <td> {{el.name}} </td>
                        <td> {{el.identifier}} </td>
                        <td>
                            <button class="btn btn-primary" (click)="redirectToRoomDetailsPage(organization.id ,el.id)">
                                Details
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteRoom(el.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="organization" class="container">
    <div class="card">
        <h3 class="text-center">Add Room Form</h3>
        <form (ngSubmit)="createRoom(organization.id)">
            <div class="form-group">
                <ul>
                    <li>
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="newRoom.name" name="name"
                            required />
                    </li>
                    <li>
                        <label for="identifier">Identifier:</label>
                        <input type="text" class="form-control" id="identifier" [(ngModel)]="newRoom.identifier"
                            name="identifier" required />
                    </li>
                    <li>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Level</label>
                            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="newRoom.level"
                                name="level">
                                <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label for="name">Places:</label>
                        <ul>
                            <li>
                                <label for="places">Number of sitting places:</label>
                                <input type="number" class="form-control" id="places"
                                    [(ngModel)]="newRoom.places.SITTING" name="places" required />
                            </li>
                            <li>
                                <label for="places">Number of standing places:</label>
                                <input type="number" class="form-control" id="places"
                                    [(ngModel)]="newRoom.places.STANDING" name="places" required />
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
            <button type="submit" class="btn btn-primary">Add Room</button>
        </form>
    </div>
</div>